body {
	font-family: 'Montserrat', sans-serif;
	color: #4c4c4c;
	background: #ffffff;
}

.topbox {
	background: #efefef;
	padding: 5px;
	color: inherit;
}

.title {
	text-align: center;
	margin-bottom: 20px;
}

.title h1 {
	font-size: 36px;
}

.title p {
	font-size: 12px;
}

.main-container {
	width: 75%;
	margin: 60px auto;
}

.col-half-offset {
	margin-left: 4.166666667%;
}

.services {
	font-size: 28px;
}

.services span {
	font-size: 12px;
	display: block;
}

.box-1,
.box-2 {
	float: none;
	padding: 5px;
	vertical-align: middle;
}

.container-box {
	display: table;
	margin-bottom: 10px;
	width: 100%;
	font-size: 14px;
}

.box-1 {
	width: 80%;
	background-color: #ffffff;
	display: table-cell;
	border: 1px solid #e5e5e5;
	color: #4c4c4c;
}

.box-2 {
	width: 20%;
	text-align: center;
	display: table-cell;
	color: #ffffff;
	background-color: inherit;
}

.circle-box p {
	font-size: 10px;
	text-align: center;
}

.circle {
	margin: 20px;
	border-radius: 50% 50% 50% 50%;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle at center, #ffffff 60%, transparent 60.5%), linear-gradient(to right, #14a388 50%, #425b77 0);
	position: relative;
	left: 10%;
}

.text {
	position: absolute;
	right: 35%;
	bottom: 25px;
	text-align: center;
}

.text p {
	font-size: 18px;
}

.light-blue {
	color: #14a388;
	background-color: inherit;
}

.dark-blue {
	color: #425b77;
	background-color:inherit;
}

.info-box {
	margin: 40px 0;
}

.buttons:hover {
	cursor: pointer;
}

.button-box {
	text-align: center;
}

.button-box input[type="button"] {
	border-radius: 0;
	color: #ffffff;
	background: #12d6b0;
}

.amount-1 {
	background: #14a388;
	color: #ffffff;
	
}

.amount-2 {
	background: #14a388;
	color: #ffffff;
	
}

.amount-3 {
	background: #425b77;
	color: #ffffff;
	
}

.investment-type {
	width: 50%;
	float: left;
	font-size: 12px;
}

.investment-amt {
	width: 50%;
	float: left;
	font-size: 12px;
}

.investment-type .fas {
	font-size: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.circle {
		width: 150px;
		height: 150px;
		margin: 0px 20px 20px 0px;
		left: 0;
	}
	.text {
		right: 30%;
		bottom: 0px;
	}
	.title h1 {
		font-size: 26px;
	}
	.col-half-offset {
		margin-left: 4%;
	}
	.container-box {
		font-size:14px;
	}
	.investment-amt,
	.investment-type {
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.logo {
		margin: 0 auto;
	}
	.title h1 {
		font-size: 22px;
	}
	.services {
		font-size: 18px;
	}
	.col-half-offset {
		margin-left: 0;
		margin-bottom: 15px;
	}
	.circle {
		margin: 0px 0 20px 0px;
	}
	.container-box {
		font-size: 14px;
	}
	.buttons {
		padding: 0 0;
	}
	.investment-amt,
	.investment-type {
		width: 100%;
	}
}

